 @import "tailwindcss";

  .shimmer,#restroCard
  {
   background-color: rgb(50, 50, 50);
    width: 250px;
   height: 300px;

   margin: 20px;
  }

#restroCard:hover
{
  border: 1px solid rgb(179, 176, 176);
  cursor: pointer;


}

#restroCard >div{


margin: 10px 0 0 5px ;
/* border-radius: 4%; */

}



.shimmerChild, #restroCard >div{

  background: linear-gradient(to right, #374151, #9CA3AF, #374151); /* from-gray-700 via-gray-400 to-gray-700 */
  color: #e5e7eb; /* text-gray-200 */
  padding: 0.1rem 0.6rem; /* py-2 px-6 */
  border-radius: 0.375rem; /* rounded-md */
  border: 1px solid #6b7280; /* border-gray-500 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-md */
  /* font-weight: 600; font-semibold */
 letter-spacing: 0.05em;  /* tracking-wide */
  text-transform: uppercase; /* uppercase */
  transition: all 0.3s ease-in-out; /* duration-300 ease-in-out */
  outline: none;
  /* font-size: 11pt; */
  height: 80px;
}

#restroCard >div{
  box-shadow: 0 0 0 2px #6b7280; /* focus:ring-2 focus:ring-gray-500 */
}

#restroCard >div>p{

font-size: 9pt;
}

#restroCard >div:hover {
  background: linear-gradient(to right, #4b5563, #d1d5db, #4b5563); /* hover:from-gray-600 hover:via-gray-300 hover:to-gray-600 */
}



  #restroCard>img
  {
  width:100%;
  height: 200px;

  }


 #menuHead{
 
 display: flex;
 justify-content: center;
 width: 80%;
 height: 300px;
 position: relative;
 right: 50px;

 }


 #menuHead>.menuHeadChild{
 align-items: center;
justify-content: center;

 }

 #menuHead>img
 {
 width: 30%;
 margin: 0 100px ;

 }


